.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.usuario-label {
    font-size: 25px;
}

.strong-usuario-info {
    font-size: 30px;
}
