
@{
    ViewBag.Title = "MiHistorialDonaciones";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<h2>MiHistorialDonaciones</h2>

<table class="table">
    <thead>
        <tr class="text-center">

            <th scope="col">Fecha de donacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
            <th scope="col">Total recaudado</th>
            <th scope="col">Mi donacion</th>
            <th scope="col">Detalle propuesta</th>

        </tr>
    </thead>
    <tbody id="mostrarContenido">
    </tbody>
</table>
<script>
    window.onload = function () {
        BuscarHistorial(@ViewBag.UsuarioId);
    }
</script>