
@{
    ViewBag.Title = "MiHistorialDonaciones";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<h2>MiHistorialDonaciones</h2>

<table class="table">
    <thead>
        <tr class="text-center">

            <th scope="col">Fecha de Donacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo de Donacion</th>
            <th scope="col">Estado</th>
            <th scope="col">Total Recaudado</th>
            <th scope="col">Mi Donacion</th>
            <th scope="col">Detalle Propuesta</th>
        </tr>
    </thead>
    <tbody id="mostrarContenido">
    </tbody>
</table>
<script>
    window.onload = function () {
        alert('Hola');
        BuscarHistorial(@ViewBag.UsuarioId);
    }
</script>