@model AyudandoAlProjimo.Data.Usuarios

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <form action="/Usuario/AutorizarLogin" method="post">

        <h1>Login</h1>
        <fieldset>
            Email:
            @Html.EditorFor(o => o.Email)
            @Html.ValidationMessageFor(o => o.Email)

            Contraseña:
            @Html.EditorFor(o => o.Password)
            @Html.ValidationMessageFor(o => o.Password)

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me">Recordarme
                </label>
            </div>
        </fieldset>

        <button type="submit">Ingresar</button>
    </form>
</body>
</html>

