@{
    ViewBag.Title = "UsuarioCreado";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Styles.Render("~/bundles/css")
</head>
<body>
    <h3>Usuario creado exitosamente, revise su casilla de correo para activar su cuenta</h3>
</body>
</html>

