@model AyudandoAlProjimo.Data.PropuestasDonacionesMonetarias

@{

    ViewBag.DineroJuntado = Model.DonacionesMonetarias.Where(o => o.IdPropuestaDonacionMonetaria == Model.IdPropuestaDonacionMonetaria).Sum(o => o.Dinero);

    if ((Model.Dinero - ViewBag.DineroJuntado) < 0)
    {
        ViewBag.RestaPorJuntar = 0;
    }
    else
    {
        ViewBag.RestaPorJuntar = Model.Dinero - ViewBag.DineroJuntado;
    }
}

<span class="font-weight-bold">
    La cantidad de dinero juntado es de: @ViewBag.DineroJuntado
 </span>

<span class="font-weight-bold">
    De un total de $@Model.Dinero que se necesitan ($@ViewBag.RestaPorJuntar restantes)
 </span>

<span class="font-weight-bold">
    Porcentaje de aceptación: @Model.Propuestas.Valoracion %
</span>
