@model AyudandoAlProjimo.Data.PropuestasDonacionesMonetarias

@{
    ViewBag.Title = "VerDetallePropuestaMonetaria";
    ViewBag.Dinero = Model.DonacionesMonetarias.Where(x => x.IdPropuestaDonacionMonetaria == Model.IdPropuestaDonacionMonetaria).Sum(x => x.Dinero);
}

<h2>VerDetallePropuestaMonetaria</h2>

