@model AyudandoAlProjimo.Data.PropuestasDonacionesMonetarias

@{
    ViewBag.DineroJuntado = Model.DonacionesMonetarias.Where(o => o.IdPropuestaDonacionMonetaria == Model.IdPropuestaDonacionMonetaria).Sum(o => o.Dinero);

    if ((Model.Dinero - ViewBag.DineroJuntado) < 0)
    {
        ViewBag.RestaPorJuntar = 0;
    }
    else
    {
        ViewBag.RestaPorJuntar = Model.Dinero - ViewBag.DineroJuntado;
    }

    if (ViewBag.RestaPorJuntar == 0)
    {
        ViewBag.PorcentajeAceptacion = 100;
    }
    else
    {
        ViewBag.PorcentajeAceptacion = (ViewBag.DineroJuntado * 100) / Model.Dinero;
    }
}

<span class="font-weight-bold">$@ViewBag.DineroJuntado</span> de $@Model.Dinero ($@ViewBag.RestaPorJuntar restantes)
<div class="progress mt-2">
    <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.PorcentajeAceptacion%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
