@model AyudandoAlProjimo.Data.PropuestasDonacionesInsumos
@using AyudandoAlProjimo.Data

@{
    AyudandoAlProjimo.Data.Usuarios user = (AyudandoAlProjimo.Data.Usuarios)Session["Session"];
    int Donado = Model.DonacionesInsumos.Where(x => x.IdPropuestaDonacionInsumo == Model.IdPropuestaDonacionInsumo).Sum(x => x.Cantidad);
    int Restante = Model.Cantidad - Donado;
}

<span class="font-weight-bold">
    Insumos que se necesitan:
</span>

@foreach (PropuestasDonacionesInsumos i in Model.Propuestas.PropuestasDonacionesInsumos)
{
    int InsumosDonados = i.DonacionesInsumos.Where(x => x.IdPropuestaDonacionInsumo == i.IdPropuestaDonacionInsumo).Sum(x => x.Cantidad);
    int InsumosRestantes;
    string mensaje;

    if ((i.Cantidad - InsumosDonados) < 0)
    {
        InsumosRestantes = 0;
    }
    else
    {
        InsumosRestantes = i.Cantidad - InsumosDonados;
    }

    if (InsumosRestantes == 0)
    {
        mensaje = "No quedan insumos por donar";
    }
    else
    {
        mensaje = "Faltan aun la cantidad de " + InsumosRestantes + " insumos para completar la donación";
    }

    <span class="font-weight-bold">
        @i.Cantidad @i.Nombre
    </span>
    <span class="font-weight-bold">
        @mensaje
    </span>
}

@if (Model.Estado == 0 && Model.Propuestas.IdUsuarioCreador != user.IdUsuario && Restante > 0)
{
    <div class="container"><a class="btn btn-block btn btn-success mt-3" href="/Propuestas/RealizarDonacion/@Model.IdPropuesta">Realizar donación</a></div>
}

else
{
    <span class="font-weight-bold">
        No puede realizar donaciones a esta publicación
    </span>
}









