@model AyudandoAlProjimo.Data.Propuestas

@{
    ViewBag.Title = "VerDetallePropuesta";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<div class="container">
    <h3>@Model.Nombre</h3>



</div>
