@model List<AyudandoAlProjimo.Data.PropuestasDonacionesInsumos>

<span class="font-weight-bold">
    Insumos que se necesitan:
</span>



@foreach (var i in Model)
{
    int InsumosDonados = i.DonacionesInsumos.Where(x => x.IdPropuestaDonacionInsumo == i.IdPropuestaDonacionInsumo).Sum(x => x.Cantidad);
    int InsumosRestantes;
    string mensaje;

    if ((i.Cantidad - InsumosDonados) < 0)
    {
        InsumosRestantes = 0;
    }
    else
    {
        InsumosRestantes = i.Cantidad - InsumosDonados;
    }

    if (InsumosRestantes == 0)
    {
        mensaje = "No quedan insumos por donar";
    }
    else
    {
        mensaje = "Faltan aun la cantidad de " + InsumosRestantes + " insumos para completar la donación";
    }

    <<span class="font-weight-bold">
        @i.Cantidad insumos para la propuesta @i.Nombre
    </span>
    <span class="font-weight-bold">
        @mensaje
    </span>

    <span class="font-weight-bold">
        Porcentaje de aceptación @i.Propuestas.Valoracion %
    </span>

}



