@if (TempData["DenunciaRepetida"] != null)
{
    <div class="alert alert-warning">
        @TempData["DenunciaRepetida"]
    </div>
}
@if (TempData["DenunciaRealizada"] != null)
{
    <div class="alert alert-success">
        @TempData["DenunciaRealizada"]
    </div>
}